/* body {
    display: flex;
    width: 100%;
    justify-content: center;
} */
div {
    font-size: 250px;
    display: inline-block;
}
/* #cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
} */

#button, #timer, #moves, #restart {
    font-size:100px; 
}