* {
    color: white;
    background-color: rgb(49, 49, 49);
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap:1rem;
}
div {
    font-size: 250px;
    text-align: center;
}



#cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(250px,auto));
    border: solid 2px black;
    background-color: white;
    border-radius: 5%;
    width:100%;
    min-width: 1000px;
    max-width: 1250px;
    box-sizing: border-box;
    /* outline: 10px dashed rgba(255,0,0,.25); */
}

#cardGrid > div {
    display: inline-block;
    line-height: 250px;
    width:fit-content;
    min-width: 0px;
    height:240px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:5px;
    background-color: black;
}




#button, #timer, #moves, #restart {
    font-size:70px; 
    min-width: 0px;
}

#extras {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    /* outline: 10px dashed rgba(255,0,0,.25); */
    width:100%;
    max-width: 500px;
    min-width: 0;
    margin-top: 60px;;
}
button {
    border-radius: 10%;
    padding: 25px;
    background-color: rgb(22, 60, 109);
}

button:active{
    background-color: rgb(45, 78, 122);
    transform: scale(0.95);
}